@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --lighting-color: #21083f;
  --dark-color: #d5cfe5;
  --darker-color: #0c0423;
  --secondary-color: #0c0423;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body,
html {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
  color: white;
}
body {
  font-size: 1.4rem;
}

header{
    background-color: var(--lighting-color);
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem;
}
nav ul{
    display:flex;
    align-items: center;
    gap:10px;
}
nav ul li{
    list-style: none;
    font-size: 1.8rem;
    transition: 0.4s ease-in-out;
    border-bottom: 0.4rem solid transparent;
    
}
nav ul li:hover{
    border-bottom: 0.4rem var(--secondary-color) solid;
    transition: 0.4s ease-in-out;
    
}
nav ul li a{
    font-style: none;
    color:white;
    text-decoration: none;
    padding:10px;
}
.logo{
    padding:20px;
    font-size: 2rem;
    font-weight: 700;
}
.container{
    max-width:1300px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* hero section */

.hero_img {
    border-radius: 50%;
    overflow: hidden;
}

#hero{
    background-color: var(--dark-color);
    padding: 4rem 0;
    border-bottom: 4px solid var(--lighting-color);
}
.hero_content{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    display:grid;
    place-items: center;
}
#hero h1{
    font-size: 3rem;
    font-weight: bold;

}
.hi_text{
    font-size: 6rem;
    font-weight: bold;
    color:var(--secondary-color)
}
.name_text{
    font-size: 5rem;
    color:var(--secondary-color)

}
.content h2 {
    color:var(--secondary-color)
}
.content h1{
    color:var(--secondary-color)
}
#hero h2{
    font-size: 6rem;
    font-weight: bold;

    overflow:hidden;   /* Ensures the content is not revealed until the animation */
    border-right: 0.15rem solid rgb(16, 2, 24);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 5s steps(40,end), blink-caret 0.75s step-end infinite;
}

/* Animate.css  ---- for animations */
@keyframes typing{
    from{
        width:0;
    }
    to{
        width:100%;
    }
}
@keyframes blink-caret{
    from,
    to{
        border-color: transparent;
    }
    50%{
        border-color:#0c0423;
    }
}

/* Project */

#projects{
    background-color: var(--darker-color);
}
#projects h1{
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
}

.grid_item{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap:2rem;
    place-items: center;

}
.card{
    width:320px;
    display:flex;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: 0.4s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition: 0.4s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    opacity: 0.8;
}

.card_content{
    padding:2rem;
    position:relative;
    top:-6.5rem;
    margin-bottom: 6.5rem;
    transition:0.5s ease-in-out;
    transform:translateY(100px);
}
.card:hover .card_content{
    background-color: white;
    color:var(--dark-color);
    transform:translateY(0px);
}
.card_content h2{
    text-align:center;
}

#contact{
    background:var(--dark-color);
}

/* contact */

#contact{
    background: var(--dark-color);
}
#contact h2{
    font-size: 6rem;
    text-align: center;
    margin: 2rem 0;
    color:var(--secondary-color)
}

#contact .container{
    height: 90vh;
    display:flex;
    flex-direction: column;
    gap:4rem;
    justify-content: center;
    color:var(--secondary-color)
}
.top_contact{
    max-width: 800px;
    display:grid;
    margin: 0 auto; 
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    gap:3rem;
    font-size: 2.5rem;
    color:var(--secondary-color)
}
.contact_way{
    display:flex;
    gap:1rem;
    align-items: center;
    color:var(--secondary-color)
}
.conntact_way h3{
    font-size: 6rem;
    font-weight: bold;
    color:var(--secondary-color)
}
.conntact_way i{
    font-size: 3rem;
    color:var(--secondary-color)
    
}
.mobile{
  display: none;  
}

.contact_way {
    position: relative;
  }
  
  .mobile {
    display: none;
    font-size: 16px;
    color: #333;
  }
  
  .contact_way:hover .mobile {
    display: block;
    font-size: 18px;
    color: #01070c; 
    font-weight: bold;
  }
  
  .contact_way h3 {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .contact_way .fa-mobile {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
  }
  .contact_way .fa-linkedin {
    text-align: center;
    place-items: center;
  }
.bottom_contact{
    max-width: 400px;
    display:grid;
    margin: 0 auto; 
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    align-items: center;
    gap:3rem;
    font-size: 2.5rem;
}

/* Skills */
#skills h1 {
    font-size: 4rem;
    font-weight: bold;
    color:var(--secondary-color);
    
}      
#experience{
    background:  var(--secondary-color);
    font-size: 2rem;
    padding:2rem;
}

#skills ul li {
    font-size: 2rem;
    font-weight: bold;
    color:var(--secondary-color);
    
    
}
/* footer */

footer{
    background: var(--darker-color);
    padding: 2rem;
    color:white;
    font-size: 2rem;
    text-align:center;
}



@media (max-width: 786px) {
    html {
      font-size: 40%;
    }
    #hero .container {
        flex-direction: column;
    }
    .hero_image {
        display: grid;
        place-items: center;
    }
    #contact .container {
        height: 70vh;
    }
  }
  @media (max-width: 500px) {
    html {
        font-size: 32%;
    }
    #hero .container {
        flex-direction: column;
    }
    .hero_image {
        display: grid;
        place-items: center;
    }
    #contact .container {
        height: 50vh;
    }
  }

  
  /* Media Query for tablets (between 768px and 1024px) */
  @media screen and (max-width: 1024px) {
    .hero_content {
      flex-direction: column;
      align-items: center;
    }
  
    .hero_img {
      margin-right: 0;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 30px;
    }
  
    h2 {
      font-size: 20px;
    }
  }
  
  /* Media Query for mobile (below 768px) */
  @media screen and (max-width: 768px) {
    .hero_content {
      flex-direction: column;
      align-items: center;
    }
  
    .hero_img img {
      width: 80%;
      max-width: 400px;
    }
  
    .content {
      text-align: center;
      margin-top: 20px;
    }
  
    h1 {
      font-size: 26px;
    }
  
    h2 {
      font-size: 18px;
    }
  }
  
  /* Media Query for very small devices (below 480px) */
  @media screen and (max-width: 480px) {
    .hero_content {
      padding: 10px;
    }
  
    h1 {
      font-size: 22px;
    }
  
    h2 {
      font-size: 16px;
    }
  
    .hero_img img {
      width: 100%;
    }
  }
   