@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    font-family: "Roboto" sans-serif;
    font-weight:300;
    font-height: 1.4;
}

.portfolio-ribbon {
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(135deg,#21083f);
  padding: 10px 20px;
  z-index: 9999;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Back Button */
.back-btn {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 20px;
  background: rgba(255,255,255,0.15);
  transition: 0.3s ease;
}

.back-btn:hover {
  background: white;
  color: #0d6efd;
}
nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
}

.logo img{
    width: 150px;
    height: auto;
}
.center-nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
.search{
    display:flex;
}
.search input{
    min-width:600px;
    padding:10px 20px;
    border: 0.5px solid #ccc;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

}
.search button{
    border:none;
    padding:10px;
    background-color: rgb(215, 214, 214);
}
.mic{
    padding:15px;
    border-radius: 50%;
    background-color: #c1bdbd;
    margin-left: 15px;
    display:flex;

}
.mic img{
    width:30px;
}
.side-nav{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    margin-right: 50px;
}
.tags{
    display:flex;   
    gap:15px;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22,22,22);
}
.tag .darK{
    background: #000;
    color:white;
}
.tag .light{
    background: rgb(238,238,238);
    color:rgb(67,67,67)
}



.container{
    display:flex;
}

aside{
    display:flex;
    flex-direction: column;
    padding:10px;
    gap:30px;
    align-items: center;
}
.side-icons{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.side_icons img{
    width: 30px;
}
.side-icons p{
    font-size: 10px;
    margin-top: -5px;
}
.bars{
    margin-top: 20px;
}
main{
    min-height:100vh;
    background: rgb(213, 211, 211);
}
.main-container{
    
    width:100%;
}
.card-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.card{
    padding:10px;
    max-width: 320px;
    display:flex;
    flex-direction: column;

}
.avatar-content{
    padding-top: 10px;
    display:flex;
    gap:5px;
}
.card h3{
    font-size: 20px;
}
.content{
    display:flex;
    flex-direction: column;
    gap:5px;
}
.channel-name{
    font-size: 16px;
    font-weight: bold;
}
.content-status{
    display:flex;
    gap: 10px;
}